@import url('https://fonts.googleapis.com/css2?family=Girassol&family=Long+Cang&display=swap');


html, body {
    margin: 0;
    padding: 0;
    overflow:hidden; /* esta es una */
}

body {
    background-color: lightpink;
}

select {
    position: absolute;
    right: 3%;
    top: 4%;
    z-index:99999999999999999999; /* esta es otra */
}

canvas {
    display: block;
}

div {
    padding: 0.5rem 3rem;
}

h1, p {
    padding: 0.25rem;
}

h1{
    font-family: 'Girassol',
    color: white;
    background-color: black;
          text-decoration:line-through, black;
          text-shadow: 2px 2px pink;
          position:absolute;
          right: 50%;
          top: 50%;
          text-align: center;
          letter-spacing: 3px
        }

p {
    font-family: 'Long Cang', cursive;
    padding: 0.25rem;
    position:absolute;
          right: 30%;
          top: 70%;
}
